body {
    text-align: center;
    margin: 0;
    font-family: 'Arial', sans-serif; /* Choose a suitable font */
}

h1 {
    color: #333;
}

.event {
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin: 20px auto;
    max-width: 600px;
}

.event h2 {
    color: #333;
}

.event p {
    color: #666;
}
